body {
    background-image: url(https://avatars.mds.yandex.net/get-pdb/1947635/6706b408-eb97-49ce-9133-cf95447c9301/s1200); /* Путь к фоновому изображению */
    background-color: #c7b39b; /* Цвет фона */
   }
h5 {
    color: #ffffff
    }