<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous">
    </script>
    <script src={{base.js_for_files}}></script>
    <title>{{title}}</title>
    <style>
    .people {background-color: {{ base.back_color }}}
   BODY {
    font-family: Arial, Helvetica, sans-serif; /* Гарнитура шрифта */
    color: {{ base.text_color }};
    background: url({{ base.background }});
    background-size: cover
   }
   .div1 {
    margin: 2.0em 2.0em 0em;
    }

    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Лента</a>
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="/messages">Телеграф</a>
        <a class="navbar-brand" href="/construct">Конструктор</a>
        <a class="navbar-brand" href="/people">Люди</a>
        <a class="navbar-brand" href="/profile/{{current_user.id}}">
            <img src={{current_user.avatar}}
                 width="50" height="50"
                 alt="PEP8" class="d-inline-block align-top"> {{current_user.name}}
        </a>
        {% else %}
        <p>
            <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
            <a class="btn btn-success" href="/login">Войти</a>
        </p>
        {% endif %}
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container-fluid">
    {% block content %}{% endblock %}
</main>
</body>
</html>