{% extends "base.html" %}

{% block content %}
<div class="col col-xl-10 rounded">
    <h1>Новости</h1>
    {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary">Добавить новость</a> <br>
    {% endif %}
    <label></label>
    {% for item in news[::-1]%}
    <div class="block">

        <div class="col-md6 rounded">
            <div class="media">
                <a href="/profile/{{item.user.id}}"> <img src="{{item.user.avatar}}"
                                                          class="align-self-center mr-3" alt="PEP8"
                                                          width="100"
                                                          height="100" title="{{item.user.name}}">
                </a>
                <div class="media-body md-0">
                    <h2>{{item.title}}</h2>
                    <p>
                        {{item.content}} <br>
                        {% if item.image %}
                        <img src="{{item.image}}"
                             class="align-self-center mr-3 w-50"> <br>
                        {% endif %}
                        {{get_time(item.created_date.date(), item.created_date.time())}}
                    </p>
                    {% if current_user.is_authenticated %}
                    <div>
                        <a href="/like_post/{{ item.id }}"> <img
                                src="/static/img/images/{{ base.like_image }}{{ check_like(item.id, lst) }}.png"
                                width="100" height="100"></a>
                        <p>Одобрили {{item.liked}} человек
                    </div>
                    {% endif %}
                    {% if current_user == item.user %}
                    <a href="/news/{{ item.id }}" class="btn-sm btn-warning">Изменить</a>
                    <a href="/news_delete/{{ item.id }}" class="btn-sm btn-danger">Удалить</a>
                    {% endif %}
                    <p>
                </div>
            </div>
        </div>

    </div>
    {% endfor %}
</div>
{% endblock %}