{% extends "base.html" %}

{% block content %}
<div class="col col-xl justify-content-around">
    <h1>Новости</h1>
    {% if current_user.is_authenticated %}
    <a href="news" class="btn btn-secondary" style="margin-bottom:10px">Добавить новость</a> <br>
    {% endif %}
    {% for item in news[::-1]%}
    <div class="row">
        <div class="col col-xl block rounded-lg height_div">
            <div class="media">
                <a href="/profile/{{item.user.id}}" name="{{item.id}}">
                    <img src="{{item.user.avatar}}"
                         class="align-self-center mr-3 rounded-lg" alt="PEP8"
                         width="100"
                         height="100" title="{{item.user.name}}">
                </a>
                <div class="media-body md-0">
                    <h2 class="text-break text">{{item.title}}</h2>
                    <p class="text-break text">
                        {{item.content}} <br>
                        {% if item.image %}
                        <img src="{{item.image}}"
                             class="align-self-center mr-4 w-100 rounded-sm"> <br>
                        {% endif %}
                        {{get_time(item.created_date.date(), item.created_date.time())}}
                    </p>

                </div>
                <div class="col-4">
                    {% for elem in comments %}
                    {% if elem.news_id == item.id %}
                    <div class="media mt-3 invert_block">
                        <a class="mr-3" href="#">
                            <img src="{{elem.user.avatar}}"
                                 class="align-self-center mr-3 width=50 rounded-lg" width="50"
                                 alt="...">
                        </a>
                        <div class="media-body">
                            <h5 class="mt-0">{{elem.user.name}}</h5>
                            <p class="text-break text"> {{elem.text}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="btn-toolbar justify-content-between" role="toolbar"
                         aria-label="Toolbar with button groups">
                            <div class="input-group mb-3">
                                <input type="text"
                                       class="form-control"
                                       id="comment{{item.id}}">
                                <input type="button"
                                       style="margin-bottom:10px"
                                       class="btn btn-secondary"
                                       value="Отправить"
                                       onclick="add_comment({{item.id}});">
                            </div>
                    </div>
                    <div>
                        {% if current_user.is_authenticated %}
                        <a href="/like_post/{{ item.id }}"> <img
                                src="/static/img/images/{{ base.like_image }}{{ check_like(item.id, lst) }}.png"
                                width="100" height="100"></a>
                        <p>{{check_number_of_like(item.liked)[0].title()}} {{item.liked}}
                            {{check_number_of_like(item.liked)[1]}}
                            {% endif %}
                            {% if current_user == item.user %}
                            {% if item.liked < 3 %}
                            <a href="/news/{{ item.id }}" class="btn-sm btn-warning">Изменить</a>
                            {% endif %}
                            <input type="button" value="Удалить" class="btn-sm btn-danger" onclick="delete_news({{item.id}});">
                            {% endif %}
                        <p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script type="text/javascript">
function add_comment(news_id) {
var input = document.getElementById("comment" + news_id);
$.ajax({
            url: '/api/v2/comments',
            type: 'post',
            data: {"text": input.value, "user_id": {{current_user.id}},
             "news_id": news_id },
            response: 'json',
            success: function(data) {input.value = "";
                                    redraw();}
        });
};

function delete_news(news_id) {
$.ajax({
            url: '/api/v2/news/' + news_id,
            type: 'delete',
            response: 'json',
            success: function(data) {redraw();}
        });
}

function redraw() {
    fetch("/").then(response => response.text())
        .then(result => document.querySelector('html').innerHTML = result)
}

function like(news_id) {}

setInterval(redraw, 10000);

</script>
{% endblock %}