{% extends "base.html" %}

{% block content %}
<div class="col-xl-7 border">
    <div class="row justify-content-around">
        <img src={{path[0]}} width="300" height="300">
        <img src={{path[1]}} width="300" height="300">
    </div>
</div>
<form method="post" enctype="multipart/form-data">

    {{ form.hidden_tag() }}
    <div class="col-xl-100 border">
        <div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Загрузить</button>
            <div class="form-group">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="label4">Ваш файл</span>
                    </div>
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="images" name="images">
                        <label class="custom-file-label" for="images" data-browse="Обзор"
                               aria-describedby="inputGroupFileAddon02">{{path[0]}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="div1">
            <a href="/construct/meme" class="btn btn-secondary btn-lg btn-block">Мемы</a> <br></div>
        <div class="div1">
            <a href="/construct/lions" class="btn btn-secondary btn-lg btn-block">Лев, тигр и леопард</a>
            <br>
        </div>
        <div class="div1">
            <a href="/construct/cat_dogs" class="btn btn-primary btn-lg btn-secondary btn-block">Кошечка или
                собачка?</a> <br></div>
    </div>
</form>
{% endblock %}