{% extends "base.html" %}

{% block content %}
<div class="row block justify-content-center">
    <div class="col-xl block rounded-lg">
        <div class="row justify-content-around">
            <img src={{path[0]}} width="300" height="300" class="rounded-lg">
            <img src={{path[1]}} width="300" height="300" class="rounded-lg">
        </div>
        <br>
        <h2 align="center">{{name}}</h2>
    </div>
    <div class="neuro_buttons">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="col-xl block rounded-lg mx-auto">
                <h4>Выберите тип нейросети  и <br>загрузите ваше изображение</h4>
                {% if neuroname == "meme" %}
                <a href="/neuro/meme" class="btn btn-success btn-lg btn-block">Мемы</a>
                <br>
                {% else %}
                <a href="/neuro/meme" class="btn btn-secondary btn-lg btn-block">Мемы</a>
                <br>
                {% endif %}
                {% if neuroname == "lions" %}
                <a href="/neuro/lions" class="btn btn-success btn-lg btn-block">Лев,
                    тигр и леопард</a>
                <br>
                {% else %}
                <a href="/neuro/lions" class="btn btn-secondary btn-lg btn-block">Лев,
                    тигр и леопард</a>
                <br>
                {% endif %}
                {% if neuroname == "cat_dogs" %}
                <a href="/neuro/cat_dogs" class="btn btn-success btn-lg btn-block">Кошечка или
                    собачка?</a>
                <br>
                {% else %}
                <a href="/neuro/cat_dogs" class="btn btn-secondary btn-lg btn-block">Кошечка или
                    собачка?</a>
                <br>
                {% endif %}
                <a href="/neuro/cat_dogs" class="btn btn-secondary btn-lg btn-block">Кошечка или
                    собачка?</a><br>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="label4">Ваш файл</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="images" name="images">
                            <label class="custom-file-label" for="images" data-browse="Обзор"
                                   aria-describedby="inputGroupFileAddon02">{{path[0]}}</label>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block btn-lg">Загрузить</button>
                <br>

            </div>
        </form>
    </div>
</div>
<script>
bsCustomFileInput.init()
      var btn = document.getElementById('btnResetForm')
      var form = document.querySelector('form')
      btn.addEventListener('click', function () {
        form.reset()
      })
</script>
{% endblock %}