{% extends "base.html" %}

{% block content %}
    <div class="col-md-8">
    <h1>Смена пароля</h1>
    <form action="" method="post">
        <p>
            {{ form.old_password.label }}<br>
            {{ form.old_password(class="form-control", type="password") }}<br>
            {% for error in form.old_password.errors %}
        <p class="alert alert-danger" role="alert">
        <p>{{ error }}</p>
        {% endfor %}
<p title="Правила пароля: 1) Длинна пароля больше 8 символов
                                  2) В пароле должны быть буквы разного уровня
                                  3) В пароле должна быть хоть одна цифра или буква">{{
            form.password.label }} *</p>

        {{ form.password(class="form-control", type="password") }}<br>
        {% for error in form.password.errors %}
        <p class="alert alert-danger" role="alert">
            {{ error }}
        </p>
        {% endfor %}
        <p>
            {{ form.password_again.label }}<br>
            {{ form.password_again(class="form-control", type="password") }}<br>
            {% for error in form.password_again.errors %}
        <p class="alert alert-danger" role="alert">
        <p>{{ error }}</p>
        {% endfor %}
            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <p>{{message}} </p>
    </form>
</div>
{% endblock %}