{% extends "base.html" %}

{% block content %}
<div class="col-xl block rounded-lg">
    <div class="row">
        <div class="col-xl rounded-lg">
            <div class="row horizontal_block">
                <img src={{form.user.avatar}}
                     class="align-self-start mr-3 rounded-lg"
                     alt={{form.user.name}}
                     width="200"
                     height="200" onclick="">
                <div class="media">
                    <div class="media-body">
                        <h1 class="mt-0">{{form.user.name}}</h1>
                        <div class="invert_block">
                        <p class="text-break">Статус: {{form.user.status}}</p>
                            </div>
                        {% if form.user.name != "DELETED" %}
                        {% if current_user.is_authenticated %}
                        {% if form.user.id == current_user.id %}
                        <a href="/settings" class="btn btn-secondary">Настройки</a>
                        <a href="/logout" class="btn btn-warning">Выход</a>
                        {% else %}
                        {% if form.user.id in friends_id %}
                        <a href="/friend_delete/{{ form.user.id }}?url_from=/profile/{{form.user.id}}"
                           class="btn btn-secondary">Порвать
                            отношения</a>
                        {% else %}
                        <a href="/add_friend/{{form.user.id}}?url_from=/profile/{{form.user.id}}"
                           class="btn btn-warning">
                            Добавить
                            в
                            друзья </a>
                        {% endif %}
                        {% endif %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>

            {% if form.user.name != "DELETED" %}
            <h2> Друзья</h2>
            {% if form.error == '' %}
            <ul>
                {% for item in form.friends %}
                <li class="list-inline-item"
                    style="margin-bottom:10px">
                    <div class="media">
                        <a href="{{item.id}}">
                            <img src="{{item.avatar}}"
                                 class="align-self-start mr-3 rounded-lg"
                                 alt="PEP8" width="50" height="50"
                                 title="{{item.name}}"></a>
                        <div class="media-body">
                            <h5 class="mt-0">{{item.name}}</h5>
                        </div>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% else %}
            {% if form.user.id != current_user.id %}
            <h4 style="color:red"> {{form.error}} </h4>
            {% endif %}
            {% endif %}
        </div>
        <div class="horizontal_block">
            <h2> Фотографии</h2>
            <ul>
                {% for item in photo %}
                <li class="list-inline-item">
                    <h3>{{item.name}}</h3>
                    <a href="/photo/{{item.id}}">
                        <img src="{{item.cover}}"
                             alt="{{item.cover}}"
                             class="align-self-start mr-3 rounded-lg"
                             width="150"
                             height="150">
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% if form.user.id == form.cur_user.id %}
            <a href="/add_photo" class="btn btn-secondary">Добавить фото</a>
            {% endif %}
        </div>
    </div>
</div>
{% endif %}
{% endblock %}